<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<script src="{{ url_for('static', filename='laser.js') }}"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>K40 Whisperer</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row m-3">
                File:<form id="file_select_form"><input class="form-control" id="file_select" type="file" accept="image/png, .jpg, .svg, .gcode"></form>
            </div>
            <div class="row m-3">
                <button class="btn btn-primary" id="Upload_file" type="button">Upload file</button>
            </div>
            <div class="row m-3">
                <button class="btn btn-primary" id="Reload_design" type="button">Reload file</button>
            </div>
            <div class="row m-3">
                <button class="btn btn-primary" id="Initialize_Laser" type="button">Initialize Laser Cutter</button>
            </div>
            <div class="row m-3">
                <button class="btn btn-primary" id="Unlock" type="button">Unlock Rail</button>
            </div>

            <div class="row m-3">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_UL" type="button"><img src="/static/icons/UL.png" alt="┌" ></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_UC" type="button"><img src="/static/icons/UC.png" alt="┬" ></button>
                        </div>
                            <div class="p-1">
                            <button class="btn btn-primary" id="Move_UR" type="button"><img src="/static/icons/UR.png" alt="┐" ></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_CL" type="button"><img src="/static/icons/CL.png" alt="├"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_CC" type="button"><img src="/static/icons/CC.png" alt="┼"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_CR" type="button"><img src="/static/icons/CR.png" alt="┤"></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_LL" type="button"><img src="/static/icons/LL.png" alt="└"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_LC" type="button"><img src="/static/icons/LC.png" alt="┴"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_LR" type="button"><img src="/static/icons/LR.png" alt="┘"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_Up" type="button"><img src="/static/icons/up.png" alt="^" ></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_Left" type="button"><img src="/static/icons/left.png" alt="<"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Home" type="button"><img src="/static/icons/home.png" alt="h"></button>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_Right" type="button"><img src="/static/icons/right.png" alt=">"></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-1">
                            <button class="btn btn-primary" id="Move_Down" type="button"><img src="/static/icons/down.png" alt="v"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <label for="Reng_feed" class="form-label">mm/s</label>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-8">
                            <button class="btn btn-primary" id="Raster_Eng" type="button">Raster Engrave</button>
                        </div>
                        <div class="col-4">
                            <input id="Reng_feed" class="form-control" pattern="([0-9]*[.])?[0-9]+">
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-8">
                            <button class="btn btn-primary" id="Vector_Eng" type="button">Vector Engrave</button>
                        </div>
                        <div class="col-4">
                            <input id="Veng_feed" class="form-control" pattern="([0-9]*[.])?[0-9]+">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 ">
                            <button class="btn btn-primary" id="Vector_Cut" type="button">Vector Cut</button>
                        </div>
                        <div class="col-4 ">
                            <input id="Vcut_feed" class="form-control" pattern="([0-9]*[.])?[0-9]+">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <canvas id=canvas></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id=statusbar>
                statusbar self.statusMessage
            </div>
        </div>
    </div>
</div>
<!--corners, borders for handle, control for movement, jog step, moveto+x,y raster,vector,engrave and cut, speed, passes-->
<script>init_UI();</script>