html { height: 100%; }
body { height: 100%; }
.information { color: #2fcc2e !important; }
.warning { color: #ccc92e !important; }
.error { color: #cc2f2e !important; }
.fieldWarning { background-color: #ccc92e !important; }
.fieldError { background-color: #cc2f2e !important; }
